<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reader's Log</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../index.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../float.grid.css" rel="stylesheet" type="text/css" /> 
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  </head>
  <body>
    <main role="main" aria-live="polite">
      <header role="banner">
        <nav>
          <ul class="navTabs">
            <li><a href="/">Home</a></li>
            <li><a href="/books/add">Add Book</a></li>
            <li><a href="/books/update">Update</a></li>
          
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
          </ul>

          <div class="navBar">
            <h1>Reader's Log Profile</h1>
          </div> 
        </nav>
      </header>
      <section class="login-page">
        <div class="form-container">
          <h3>Account Login</h3>
          <form class="login-form">
            <fieldset>
              <legend></legend>
              <label for="email">Email</label>
              <input type="email" class="form-input" required>
              <label for="password">Password</label>
              <input type="password" class="form-input" required>
              <button type="submit" class="submitButton">Submit</button>
            </fieldset>
          </form>
        </div>
      </section>
      <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
      <script src="client.js"></script>

    </main>
    <footer role="contentinfo">Created by <a href="http://github.com/libbymiller09?tab=repositories">Elisabeth Miller</a> 2018</footer>
  </body>
</html>